@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
body::-webkit-scrollbar {
    width: 12px; /* Độ rộng của thanh cuộn */
}

body::-webkit-scrollbar-track {
    background: #f1f1f1; /* Màu nền của track */
}

body::-webkit-scrollbar-thumb {
    background-color: #ED553B; /* Màu của thanh cuộn */
    border-radius: 10px; /* Bo góc của thanh cuộn */
    border: 3px solid #f1f1f1; /* Viền của thanh cuộn */
}

body::-webkit-scrollbar-thumb:hover {
    opacity: 0.8; /* Độ mờ khi hover */
}